.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0; 
    background: rgb(2, 192, 255);
}
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
  
.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
    }
}

img {
    max-width: 100%;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: rgb(229, 255, 0);
    text-align: center;
}

h3 {
    color: rgb(0, 153, 255);
    text-align: center;
}

p {
    font-weight:500;
}

em {
    text-emphasis-color: red;
}

q {
    quotes: '"' '"' "'" "'";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 0, 0);
}

a:active {
    color: rgb(0, 0, 255);
}