
img {
    max-width: 100%;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: rgb(229, 255, 0);
    text-align: center;
}

h3 {
    color: rgb(0, 153, 255);
    text-align: center;
}

u {
    color: rgb(1, 194, 10);
}

p {
    font-weight:500;
}

em {
    text-emphasis-color: red;
}

q {
    quotes: '"' '"' "'" "'";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 0, 0);
}

a:active {
    color: rgb(0, 0, 255);
}