@import 'navigation.css';
@import 'common.css';
@import 'article.css';

/*
Examples taken from following to create grid
https://css-tricks.com/snippets/css/complete-guide-grid/
*/
.container {
    display:grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 250px 170px;
    grid-gap: 6px;
    grid-template-areas: 
    "nav nav nav nav"
    "hd hd hd hd"
    "main main main main"
    "ft ft ft ft";

}
body {
    background-color: rgb(131, 170, 255);
}

@media (min-width: 600px) and (max-width:900px) {
    .container {
        display:grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: 100px 100px;
        grid-gap: 6px;
        grid-template-areas: 
        "nav nav nav nav"
        "hd hd hd hd"
        "main main main main"
        "ft ft ft ft";
    }   
    body {
      background-color: rgb(19, 45, 117);
    }
  }

@media (min-width:901px) {
    .container {
      display:grid;
      grid-template-columns: 100px 100px;
      grid-template-rows: 100px 100px;
      grid-gap: 6px;
      grid-template-areas: 
      "nav nav nav nav"
      "hd hd hd hd"
      "main main main main"
      "ft ft ft ft";
  }
  body {
      background-color: rgb(9, 105, 168);
    }
}
.header {
    grid-area:hd;
}

.navbar {
    grid-area:nav;
}

.footer {
    grid-area: ft;  
}

.feature {
    grid-area: feat;
}

.content {
    grid-area: main;
}

.roundedbox{
  border-radius: 5px;
  background: #5005b1;
  border: 1px solid black;
  padding: 20px;
}